.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(167, 139, 192);
    color: white;
  
    border: 3px solid rgb(192, 43, 197);
    padding: 30px 20px;
    text-align: center;
  
  .result {
    font-size: 25px;
  }
}